body{ 
    background-color: #000000;
}

h1,h2,h3,p,a{ 
    color: #ffffff;
}

#controls{
    display: none;
}

#qrCode{ 
    margin-bottom: 10px;
    margin-top: 50px;
    width: 400px;
    height: 400px;
}

#playlistView {
    width: 100%;
    margin-top: 50px;
}

#playlistCell{ 
    vertical-align: top;
    padding-left: 30px;
}

#youtubeCell{ 
    vertical-align: top;
}


#playlist .youtubeItem{ 
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
    width: 100%
}

#playlist .youtubeItem img {
    width: 100px;
}

#playlist .playlistItemTable {
    background-color: #426e91;
    border-top: 1px solid #AAAAAA;
    width: 100%;
}

#playlist .playlistItemTable td {
    border: none;
    text-align: left;
}

#playlist .playlistItemTable .imgCell {
    padding: 10px 10px 10px 10px;
    width: 120px;
}

#playlist .playlistItemTable .textCell {
    padding: 20px 20px 20px 20px;
    width: 100%;
}

#playlist .playlistItemTable .ctrlCell {
    padding: 10px 10px 10px 10px;
    width: 30px;
    vertical-align: top;
}


#pictures img {
    border: 1px solid #999999;
    height: 100px;
    cursor: pointer;
}

#people img {
    border: 1px solid #999999;
    height: 100px;
}







