body{ 
    background-color: #000000;
}

h1,h2,h3,p,a{ 
    color: #ffffff;
}

#qrCode{ 
    margin-bottom: 10px;
}

#layoutTable{
    width: 100%
}

#layoutTable td{
    padding: 10px 10px 10px 10px;
    border: 1px solid #555555;
    width: 50%;
    vertical-align: top;
}

#playlistView, #picturesView{
    padding: 10px 10px 10px 10px;
}

#playlistCell {
    text-align: center;
}

#playlist .youtubeItem{ 
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
    width: 100%
}

#playlist .youtubeItem img {
    width: 100px;
}

#playlist .playlistItemTable {
    border: 1px solid #555555;
    width: 100%;
}

#playlist .playlistItemTable td {
    border: none;
    text-align: left;
}

#playlist .playlistItemTable .imgCell {
    padding: 10px 10px 10px 10px;
    width: 120px;
}

#playlist .playlistItemTable .textCell {
    padding: 20px 20px 20px 20px;
    width: 100%;
}

#playlist .playlistItemTable .ctrlCell {
    padding: 10px 10px 10px 10px;
    width: 30px;
    vertical-align: top;
}

#pictures{ 
    text-align: center;
}

#pictures td{ 
    width: 100px;
    height: 100px;
    border: none;
    text-align: center;
}

#pictures img {
    border: 1px solid #999999;
    height: 100px;
    cursor: pointer;
}

#people td {
    width: 100%;
    border: none;
}

#layoutTable #peopleCell {
    border: none;
}






