#board{ 
    border: 2px solid #999999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#tools {
    text-align: left;
    width: 1024px;
    padding: 5px 5px 5px 5px;
}

#toolTable { 
    display: inline;
}

#toolTable td {
    width: 36px;
    height: 36px;
}


.color{
    border: 1px solid #999999;
    width: 25px;
    height: 25px;
}
#color1{
    background-color: #000000;
}
#color2{
    background-color: #0000ff;
}
#color3{
    background-color: #ff0000;
}
#color4{
    background-color: #00ff00;
}
#color5{
    background-color: #ffffff;
}

.brush{ 
    background-color: #000000;
}
#brush1 {
    width: 10px;
    height: 10px;
}
#brush2 {
    width: 15px;
    height: 15px;
}
#brush3 {
    width: 20px;
    height: 20px;
}
#brush4 {
    width: 25px;
    height: 25px;
}

#colorSelector {
    display: inline;
    width: 36px;
    height: 36px;
    background: url(../images/select.png);
}

#colorSelector div {
    width: 30px;
    height: 30px;
    background: url(../images/select.png) center;
}
